@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    background-color: rgb(232, 222, 219);
    font-family: Poppins;
    text-align: center;
}
/* navbar */
.navbar{
    background-color: black !important;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover{
    color: white;
}
.nav-link:active{
  color:  rgb(232, 222, 219);
}
.card-img-top{
    height: 250px;
    width: 100%;
}
.btn{
    background-color: black;
    color: rgb(232, 222, 219);
}
.btn:hover{
    background-color: black;
    color: rgb(232, 222, 219);
}
.price{
    position: absolute;
    right: 0;
    margin-right: 1rem;
}
